.lowConfidence {
    background-color: orange !important;
}

/* Basic table styles */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    table-layout: fixed;
}

/* Header styles */
th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
}

/* Row styles */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #e8e8e8;
}

/* Cell styles */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Table border style */
table, th, td {
    border: 1px solid #ddd;
}
.modal {
    width: 80%;
    height:80%
}
.img-container {
    width:100%;
    height:90%;
}
/* CSS */
.button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover,
  .button:focus {
    background-color: #F082AC;
  }
  /* Centrer tous les élements du tableau */
  tr > * {
    text-align: center;
    overflow: hidden;
  }

  /* FORM */
  .updateQuotationContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  h1 {
    font-size: 30px;
  }
  form, h1 {
    margin: 0 20px;
  }

  label {
    padding: 10px 0;
    display: block;
    color: gray;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  input {
    border: 1px solid black;
    outline: none;
    display: block;
    background-color: lightgrey;
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    font-family: inherit;
    font-size: 0.7em;
    font-weight: 600;
    line-height: inherit;
    transition: 0.3s ease;
  }
  .submitInput {
    display: flex;
    justify-content: center;
    padding: 35px 0;
  }
  .submitInput input {
    cursor: pointer;
    width: auto;
    font-size: 1em;
    color: white;
    background-color: #EA4C89;
    border-radius: 8px;
  }
  /* Select */
  select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 0.7em;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  /* Flèche personnalisée */
  select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path fill="%23999" d="M2048 640l-1024 1024L0 640h2048z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
  }
  