.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.groupsection {
    display: flex;
    width: 100%;
    margin: 1em !important;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.searchAndSelectSection, .searchSection {
    display: flex;
    align-items: center;
}

.searchAndSelectSection {
    width: 35%;
}

.selectSection {
    width: 60%;
}

.searchSection {
    width: 40%;
}

.searchSection input {
    border: 1px #000 solid ;
    background-color: #fff;
}

