.lowConfidence {
    background-color: orange;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.groupsection {
    display: flex;
    width: 100%;
    margin: 1em !important;
    gap: 1em;
    justify-content: space-between;
}

/* Basic table styles */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    font-size: 0.9em;
}

/* Header styles */
th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
}

/* Row styles */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #e8e8e8;
}

/* Cell styles */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Table border style */
table, th, td {
    border: 1px solid #ddd;
}
.modal {
    width: 80%;
    height:80%
}
.img-container {
    width:100%;
    height:90%;
}
/* CSS */
.button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover,
  .button:focus {
    background-color: #F082AC;
  }
  /* Centrer tous les élements du tableau */
  tr > * {
    text-align: center;
  }